*{

    box-sizing: border-box;
    margin: 0;
    }
    header{
    
        background-color: antiquewhite;
    }
    h1 {
        text-align:left;
        color: rgb(30, 150, 30);
    }
    nav {
        margin: 0 auto;
        width: 30vw;
        padding: 30px;
    
    }
    nav ul{
        display: flex;
        padding-inline-start: 0;
        list-style-type: none;
        justify-content: space-around;
         
    }
    a{
        text-decoration: none;
        font-size: 1.5rem;
        color: black;
        
    }
    main {
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    
    
    }
    div{
    
        margin-top: 10px;
        background-color: white;
    
    }
    
    .p1 {
        padding: 0 15px 15px 15px;
        border: 3px solid green;
        height: 35vh;
        overflow:auto;
    }
    .p2 {
        padding: 0 15px 15px 15px;
        border: 3px solid green;
        margin-top: 30px;
        overflow:auto;
    }
    section{
        padding: 10px;
        text-align:justify;
        background-color: rgb(167, 164, 164);
       
    }
    .s2{
        height: 70vh;
        background-color: rgb(167, 164, 164);
       
    
    }
    footer{
        width: 100vw;
        height: 5vh;
        color: white;
        background-color: black;
        font-size: 1rem;
        text-align: left;
        padding-left: 10px;
        position:fixed;   
        bottom:10px;
        
    }
    @media screen and (max-width:720px){
        main{
            flex-direction: column;
            justify-content: space-between
        }
    
        a{
            text-decoration: none;
            font-size: 0.5rem;
            color: black;
            justify-content:space-evenly;
            
        }
      
    
    
    }